<section id="nosotros">
    <div class="container">

        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">QUIEN SOY</h2>
            <p class="text-center wow fadeInDown">Mi nombre es Antonio Gómez, soy un arquitecto/analista/desarrollador web con mas de 10 años de experiencia.</p>
        </div>

        <div class="row">
            

            <div class="col-sm-6 wow fadeInRight">
                <h3 class="column-title">Este soy yo</h3>
                <p>En todo este tiempo, he trabajado tanto para grandes empresas como para pequeñas pymes.</p>

                <p>Para grandes empresas, he trabajado en proyectos, en los cuales he realizado la arquitectura, analisis y desarrollo front. Formando parte de equipos de trabajo.</p>

                <p>Para pymes, he trabajado como desarrollador web freelace, desarrollando desde sus páginas web a sus tiendas online.</p>

                <p>Me considero una persona seria, responsable, y que se compromete con sus cliente, asesorandoles y ayudandoles en todo lo posible.</p>

              

            </div>
            <div class="col-sm-6 wow fadeInLeft">
                <img class="img-responsive" src="../../assets/images/computer.jpg" alt="">
            </div>
        </div>
    </div>
</section><!--/#about-->
